## Team 2: Michael Kolor and Nikita Roy

In [8]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from statsmodels.api import OLS
import seaborn as sns
from sklearn.linear_model import LogisticRegression

%matplotlib inline

pd.set_option('display.width', 1500)
pd.set_option('display.max_columns', 500)

# Read in rankings data
rankings = pd.read_csv('fifa_ranking.csv', encoding = "ISO-8859-1")

# Choose selected columns
rankings = rankings.loc[:,['rank', 'country_full', 'country_abrv', 'confederation', 'rank_date']]

# Clean the data
rankings = rankings.replace({"IR Iran": "Iran"})

rankings['rank_date'] = pd.to_datetime(rankings['rank_date'])

# Select matches after 2015
rankings = rankings[(rankings['rank_date'] > '2015-01-01') & (rankings['rank_date'] < '2018-06-13')]

rankings.shape

# Read in international results data
matches = pd.read_csv('international_results.csv', encoding = "ISO-8859-1")

# Clean the data
matches =  matches.replace({'Germany DR': 'Germany', 'China': 'China PR'})

# Convert data to data time object
matches['date'] = pd.to_datetime(matches['date'])

# Select matches after 2015
matches = matches[(matches['date'] > '2015-01-01') & (matches['date'] < '2018-06-13')]
matches.head()

In [11]:
matches = matches.rename(columns = {"home_team": "team1", "away_team":"team2", "home_score":"score_team1", "away_score":"score_team2"})

matches.head()

            date           team1         team2  score_team1  score_team2 tournament          city       country  neutral
36452 2015-01-04         Bahrain        Jordan            1            0   Friendly      Ballarat     Australia     True
36453 2015-01-04            Iran          Iraq            1            0   Friendly    Wollongong     Australia     True
36454 2015-01-04  Korea Republic  Saudi Arabia            2            0   Friendly    Parramatta     Australia     True
36455 2015-01-04    South Africa        Zambia            1            0   Friendly  Johannesburg  South Africa    False
36456 2015-01-05        China PR          Oman            4            1   Friendly       Penrith     Australia     True

In [12]:
# Get rankings for every day
rankings = rankings.set_index(['rank_date'])\
            .groupby(['country_full'], group_keys=False)\
            .resample('D').first()\
            .fillna(method='ffill')\
            .reset_index()

# join the ranks and international results data set
df = matches.merge(rankings, 
                        left_on=['date', 'team1'], 
                        right_on=['rank_date', 'country_full'])
df = df.merge(rankings, 
                        left_on=['date', 'team2'], 
                        right_on=['rank_date', 'country_full'], 
                        suffixes=('_team1', '_team2'))

In [13]:
df.columns

Index(['date', 'team1', 'team2', 'score_team1', 'score_team2', 'tournament', 'city', 'country', 'neutral', 'rank_date_team1', 'rank_team1', 'country_full_team1', 'country_abrv_team1', 'confederation_team1', 'rank_date_team2', 'rank_team2', 'country_full_team2', 'country_abrv_team2', 'confederation_team2'], dtype='object')

In [14]:
# Get winning team for each match
winner = []
for i in range(len(df['team1'])):
    if df['score_team1'][i] > df['score_team2'][i]:
        winner.append(df['team1'][i])
    elif df['score_team1'][i] < df ['score_team2'][i]:
        winner.append(df['team2'][i])
    else:
        winner.append('Draw')
df['winning_team'] = winner
df['goal_difference'] = np.absolute(df['score_team1'] - df['score_team2'])

df = df.drop(['city', 'country', 'rank_date_team1', 'rank_date_team2', 'country_full_team1', 'country_full_team2'], axis = 1)
df.head()

        date           team1         team2  score_team1  score_team2     tournament  neutral  rank_team1 country_abrv_team1 confederation_team1  rank_team2 country_abrv_team2 confederation_team2    winning_team  goal_difference
0 2015-01-09       Australia        Kuwait            4            1  AFC Asian Cup    False       100.0                AUS                 AFC       125.0                KUW                 AFC       Australia                3
1 2015-01-09         Senegal         Gabon            1            0       Friendly     True        35.0                SEN                 CAF        62.0                GAB                 CAF         Senegal                1
2 2015-01-10    Burkina Faso     Swaziland            5            1       Friendly     True        64.0                BFA                 CAF       164.0                SWZ                 CAF    Burkina Faso                4
3 2015-01-10        Cameroon  South Africa            1            1       Friendly     True        42.0                CMR                 CAF        52.0                RSA                 CAF            Draw                0
4 2015-01-10  Korea Republic          Oman            1            0  AFC Asian Cup     True        69.0                KOR                 AFC        93.0                OMA                 AFC  Korea Republic                1

In [15]:
# Create Year column to be added to data frame
year = []
for date in df['date']:
    year.append(date.year)

df['year'] = year

# Assign 2018 as 2017, since we will be using 2017 data that is available for variable values

df['year'] = df['year'].replace(2018,2017)

In [16]:
df.head()

        date           team1         team2  score_team1  score_team2     tournament  neutral  rank_team1 country_abrv_team1 confederation_team1  rank_team2 country_abrv_team2 confederation_team2    winning_team  goal_difference  year
0 2015-01-09       Australia        Kuwait            4            1  AFC Asian Cup    False       100.0                AUS                 AFC       125.0                KUW                 AFC       Australia                3  2015
1 2015-01-09         Senegal         Gabon            1            0       Friendly     True        35.0                SEN                 CAF        62.0                GAB                 CAF         Senegal                1  2015
2 2015-01-10    Burkina Faso     Swaziland            5            1       Friendly     True        64.0                BFA                 CAF       164.0                SWZ                 CAF    Burkina Faso                4  2015
3 2015-01-10        Cameroon  South Africa            1            1       Friendly     True        42.0                CMR                 CAF        52.0                RSA                 CAF            Draw                0  2015
4 2015-01-10  Korea Republic          Oman            1            0  AFC Asian Cup     True        69.0                KOR                 AFC        93.0                OMA                 AFC  Korea Republic                1  2015

In [17]:
# Read in GDP data
gdp = pd.read_csv('gdp_data.csv', encoding = "ISO-8859-1")

# Only select columns from 2015 onwards
gdp = gdp.drop(gdp.columns[[range(5,59)]], axis = 1)
gdp.head()
gdp.columns

# Transform data from wide format to long format
gdp = pd.melt(gdp, id_vars = ['Country Name', 'Country Code'], value_vars = [ '2015', '2016', '2017'])

gdp.columns = ['Country', 'Country Code', 'Year', 'GDP']
gdp = gdp.fillna(0)
gdp.head()
gdp['Year'] = gdp['Year'].astype('int64')

gdp.head()

       Country Country Code  Year           GDP
0        Aruba          ABW  2015  0.000000e+00
1  Afghanistan          AFG  2015  1.921556e+10
2       Angola          AGO  2015  1.026210e+11
3      Albania          ALB  2015  1.138693e+10
4      Andorra          AND  2015  2.811489e+09

In [18]:
# Read in population data
population = pd.read_csv('population_data.csv', encoding = "ISO-8859-1")

# Only select columns from 2015 onwards
population = population.drop(population.columns[[range(4,59)]], axis = 1)
population.head()
population.columns

# Transform data from wide format to long format
population = pd.melt(population, id_vars = ['Country Name'], value_vars = ['2015', '2016', '2017'])

population.columns = ['Country',  'Year', 'population']
population = population.fillna(0)
population.head()
population['Year'] = population['Year'].astype('int64')

population.head()

       Country  Year  population
0        Aruba  2015    104341.0
1  Afghanistan  2015  33736494.0
2       Angola  2015  27859305.0
3      Albania  2015   2880703.0
4      Andorra  2015     78014.0

In [19]:
# Merge GDP and population data
gdp = gdp.merge(population, left_on=['Country', 'Year'], right_on=['Country', 'Year']) 
gdp.head()

       Country Country Code  Year           GDP  population
0        Aruba          ABW  2015  0.000000e+00    104341.0
1  Afghanistan          AFG  2015  1.921556e+10  33736494.0
2       Angola          AGO  2015  1.026210e+11  27859305.0
3      Albania          ALB  2015  1.138693e+10   2880703.0
4      Andorra          AND  2015  2.811489e+09     78014.0

In [20]:
# Calculate GDP per capita
gdp['GDP_per_capita'] = gdp['GDP']/gdp['population']
gdp.head()

       Country Country Code  Year           GDP  population  GDP_per_capita
0        Aruba          ABW  2015  0.000000e+00    104341.0        0.000000
1  Afghanistan          AFG  2015  1.921556e+10  33736494.0      569.577923
2       Angola          AGO  2015  1.026210e+11  27859305.0     3683.544869
3      Albania          ALB  2015  1.138693e+10   2880703.0     3952.830781
4      Andorra          AND  2015  2.811489e+09     78014.0    36038.267606

In [21]:
df_copy = df.copy()

In [22]:
# Merge GDP and Dataframe
df = df.merge(gdp, 
                left_on=['year', 'team1'], 
                right_on=['Year', 'Country'])


df = df.merge(gdp, 
                left_on=['year', 'team2'], 
                right_on=['Year', 'Country'], 
                suffixes=('_team1', '_team2'))

In [23]:
df = df.drop(['Country_team1', 'Country Code_team1', 'Year_team1','GDP_team1', 'Country_team2',
       'Country Code_team2', 'Year_team2', 'GDP_team2'], axis = 1)

In [24]:
#2 points if team1  wins, 1, if it is a draw, 0 if team1 team loses
df.loc[df.winning_team == df.team1, 'winning_team'] = 2
df.loc[df.winning_team == 'Draw', 'winning_team'] = 1
df.loc[df.winning_team == df.team2, 'winning_team'] = 0

In [25]:
df.head()

        date      team1   team2  score_team1  score_team2                    tournament  neutral  rank_team1 country_abrv_team1 confederation_team1  rank_team2 country_abrv_team2 confederation_team2 winning_team  goal_difference  year  population_team1  GDP_per_capita_team1  population_team2  GDP_per_capita_team2
0 2015-01-09  Australia  Kuwait            4            1                 AFC Asian Cup    False       100.0                AUS                 AFC       125.0                KUW                 AFC            2                3  2015        23850784.0          56561.243438         3935794.0          29108.993001
1 2015-06-05     Jordan  Kuwait            2            2                      Friendly     True       103.0                JOR                 AFC       125.0                KUW                 AFC            1                0  2015         9159302.0           4096.099275         3935794.0          29108.993001
2 2015-01-17       Oman  Kuwait            1            0                 AFC Asian Cup     True        93.0                OMA                 AFC       125.0                KUW                 AFC            2                1  2015         4199810.0          16406.711618         3935794.0          29108.993001
3 2015-06-11    Lebanon  Kuwait            0            1  FIFA World Cup qualification    False       135.0                LIB                 AFC       125.0                KUW                 AFC            0                1  2015         5851479.0           8452.443641         3935794.0          29108.993001
4 2015-01-13  Australia    Oman            4            0                 AFC Asian Cup    False       100.0                AUS                 AFC        93.0                OMA                 AFC            2                4  2015        23850784.0          56561.243438         4199810.0          16406.711618

In [26]:
# Read in player data
player_data = pd.read_csv("complete.csv", encoding = "ISO-8859-1")

countries = []
sizes = []

# data for players in top 200
for country, player_df in player_data.sort_values(by="overall", ascending=False).head(200).groupby("nationality"):
    countries.append(country)
    sizes.append(player_df["overall"].size)

top_200_df = pd.DataFrame()
top_200_df["country"] = countries
top_200_df["players_in_top_200"] = sizes 
top_200_df

team_roster_data = pd.DataFrame()
# hOW MNY PLAYERS IN TOP 200

# Get top 23 players
for country, curr_df in player_data.groupby("nationality"):
    #print(country)
    country_df = curr_df.sort_values(by="overall", ascending=False)
    country_df["nationality"] = country
    country_df = country_df.head(23)
    country_df["number_of_players"] = country_df["nationality"].size
    #print(country_df.head(23)["eur_value"].mean()/23)
    team_roster_data = team_roster_data.append(country_df)

# Merge players in top 200
top_200_team_roster_merged_df = pd.merge(team_roster_data, top_200_df, left_on="nationality", right_on="country", how="left")
top_200_team_roster_merged_df[top_200_team_roster_merged_df["nationality"] == "Spain"]
top_200_team_roster_merged_df["players_in_top_200"].fillna(0, inplace=True)
top_200_team_roster_merged_df = top_200_team_roster_merged_df.drop("country", axis = 1)
top_200_team_roster_merged_df["epl"] = top_200_team_roster_merged_df["league"] == "English Premier League"
top_200_team_roster_merged_df["laliga"] = top_200_team_roster_merged_df["league"] == "Spanish Primera División"
top_200_team_roster_merged_df["bundesliga"] = top_200_team_roster_merged_df["league"] == "German Bundesliga"
top_200_team_roster_merged_df[top_200_team_roster_merged_df["nationality"] == "Belgium"]

,ID,name,full_name,club,club_logo,special,age,league,birth_date,height_cm,weight_kg,body_type,real_face,flag,nationality,photo,eur_value,eur_wage,eur_release_clause,overall,potential,pac,sho,pas,dri,def,phy,international_reputation,skill_moves,weak_foot,work_rate_att,work_rate_def,preferred_foot,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,rs,rw,rf,ram,rcm,rm,rdm,rcb,rb,rwb,st,lw,cf,cam,cm,lm,cdm,cb,lb,lwb,ls,lf,lam,lcm,ldm,lcb,gk,1_on_1_rush_trait,acrobatic_clearance_trait,argues_with_officials_trait,avoids_using_weaker_foot_trait,backs_into_player_trait,bicycle_kicks_trait,cautious_with_crosses_trait,chip_shot_trait,chipped_penalty_trait,comes_for_crosses_trait,corner_specialist_trait,diver_trait,dives_into_tackles_trait,diving_header_trait,driven_pass_trait,early_crosser_trait,fan's_favourite_trait,fancy_flicks_trait,finesse_shot_trait,flair_trait,flair_passes_trait,gk_flat_kick_trait,gk_long_throw_trait,gk_up_for_corners_trait,giant_throw_in_trait,inflexible_trait,injury_free_trait,injury_prone_trait,leadership_trait,long_passer_trait,long_shot_taker_trait,long_throw_in_trait,one_club_player_trait,outside_foot_shot_trait,playmaker_trait,power_free_kick_trait,power_header_trait,puncher_trait,rushes_out_of_goal_trait,saves_with_feet_trait,second_wind_trait,selfish_trait,skilled_dribbling_trait,stutter_penalty_trait,swerve_pass_trait,takes_finesse_free_kicks_trait,target_forward_trait,team_player_trait,technical_dribbler_trait,tries_to_beat_defensive_line_trait,poacher_speciality,speedster_speciality,aerial_threat_speciality,dribbler_speciality,playmaker_speciality,engine_speciality,distance_shooter_speciality,crosser_speciality,free_kick_specialist_speciality,tackling_speciality,tactician_speciality,acrobat_speciality,strength_speciality,clinical_finisher_speciality,prefers_rs,prefers_rw,prefers_rf,prefers_ram,prefers_rcm,prefers_rm,prefers_rdm,prefers_rcb,prefers_rb,prefers_rwb,prefers_st,prefers_lw,prefers_cf,prefers_cam,prefers_cm,prefers_lm,prefers_cdm,prefers_cb,prefers_lb,prefers_lwb,prefers_ls,prefers_lf,prefers_lam,prefers_lcm,prefers_ldm,prefers_lcb,prefers_gk,number_of_players,players_in_top_200,epl,laliga,bundesliga
168,183277,E. Hazard,Eden Hazard,Chelsea,https://cdn.sofifa.org/18/teams/5.png,2096,26,English Premier League,1991-01-07,173,76,Normal,True,https://cdn.sofifa.org/flags/7@3x.png,Belgium,https://cdn.sofifa.org/18/players/183277.png,90500000,295000,174200000.0,90,91,90,82,84,92,32,66,4,4,4,High,Medium,Right,80,83,57,86,79,93,82,79,81,92,93,87,93,85,91,79,59,79,65,82,54,41,85,86,86,87,25,27,22,11,12,6,8,8,82.0,88.0,87.0,88.0,81.0,87.0,61.0,47.0,59.0,64.0,82.0,88.0,87.0,88.0,81.0,87.0,61.0,47.0,59.0,64.0,82.0,87.0,88.0,81.0,61.0,47.0,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,23,11.0,True,False,False
169,192119,T. Courtois,Thibaut Courtois,Chelsea,https://cdn.sofifa.org/18/teams/5.png,1282,25,English Premier League,1992-05-11,199,94,Courtois,True,https://cdn.sofifa.org/flags/7@3x.png,Belgium,https://cdn.sofifa.org/18/players/192119.png,59000000,190000,113600000.0,89,92,85,91,69,88,49,86,4,1,3,Medium,Medium,Left,14,14,13,32,12,13,19,11,31,23,46,52,61,81,45,36,68,38,70,17,23,15,13,44,27,52,11,18,16,85,91,69,86,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.0,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,23,11.0,True,False,False
170,192985,K. De Bruyne,Kevin De Bruyne,Manchester City,https://cdn.sofifa.org/18/teams/10.png,2162,26,English Premier League,1991-06-28,181,68,Normal,True,https://cdn.sofifa.org/flags/7@3x.png,Belgium,https://cdn.sofifa.org/18/players/192985.png,83000000,285000,159800000.0,89,92,75,84,88,85,45,75,4,4,4,High,High,Right,90,83,53,90,82,85,83,83,84,87,76,75,80,88,75,85,65,87,73,86,68,56,84,90,77,84,30,51,40,15,13,5,10,13,81.0,85.0,85.0,86.0,84.0,85.0,70.0,57.0,66.0,71.0,81.0,85.0,85.0,86.0,84.0,85.0,70.0,57.0,66.0,71.0,81.0,85.0,86.0,84.0,70.0,57.0,NaN,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,23,11.0,True,False,False
171,192505,R. Lukaku,Romelu Lukaku,Manchester United,https://cdn.sofifa.org/18/teams/11.png,1998,24,English Premier League,1993-05-13,190,94,Normal,True,https://cdn.sofifa.org/flags/7@3x.png,Belgium,https://cdn.sofifa.org/18/players/192505.png,59000000,210000,113600000.0,86,90,83,85,70,74,34,84,3,3,4,Medium,Medium,Left,68,89,87,71,76,78,72,66,68,75,76,89,62,85,47,88,71,80,93,75,72,27,87,73,82,84,27,30,30,8,15,14,7,10,84.0,78.0,81.0,77.0,71.0,77.0,57.0,53.0,56.0,58.0,84.0,78.0,81.0,77.0,71.0,77.0,57.0,53.0,56.0,58.0,84.0,81.0,77.0,71.0,57.0,53.0,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,23,11.0,True,False,False
172,184087,T. Alderweireld,Toby Alderweireld,Tottenham Hotspur,https://cdn.sofifa.org/18/teams/18.png,2047,28,English Premier League,1989-03-02,187,91,Normal,True,https://cdn.sofifa.org/flags/7@3x.png,Belgium,https://cdn.sofifa.org/18/players/184087.png,40500000,165000,80000000.0,86,87,66,58,72,65,87,80,3,2,3,Medium,Medium,Right,64,45,82,77,38,62,63,69,81,70,62,69,60,86,50,86,81,76,82,66,81,84,56,67,60,81,89,90,85,16,6,14,16,14,67.0,65.0,67.0,67.0,74.0,67.0,81.0,84.0,79.0,77.0,67.0,65.0,67.0,67.0,74.0,67.0,81.0,84.0,79.0,77.0,67.0,67.0,67.0,74.0,81.0,84.0,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,23,11.0,True,False,False
173,178518,R. Nainggolan,Radja Nainggolan,Roma,https://cdn.sofifa.org/18/teams/52.png,2286,29,Italian Serie A,1988-05-04,176,77,Stocky,True,https://cdn.sofifa.org/flags/7@3x.png,Belgium,https://cdn.sofifa.org/18/players/178518.png,42500000,130000,72300000.0,86,86,78,80,78,82,81,83,3,3,3,High,High,Right,73,76,59,84,75,80,73,68,81,85,80,76,81,87,84,84,76,94,76,86,88,86,88,76,63,85,78,86,88,11,11,14,8,11,80.0,81.0,82.0,82.0,84.0,82.0,84.0,81.0,83.0,84.0,80.0,81.0,82.0,82.0,84.0,82.0,84.0,81.0,83.0,84.0,80.0,82.0,82.0,84.0,84.0,81.0,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,23,11.0,False,False,False
174,175943,D. Mertens,Dries Mertens,Napoli,https://cdn.sofifa.org/18/teams/48.png,2035,30,Italian Serie A,1987-05-06,169,61,Normal,False,https://cdn.sofifa.org/flags/7@3x.png,Belgium,https://cdn.sofifa.org/18/players/175943.png,43000000,135000,73100000.0,86,86,90,82,79,89,36,55,3,4,4,High,Low,Right,77,85,35,81,70,89,81,77,74,88,93,87,94,85,92,80,60,75,42,81,59,36,85,82,78,81,30,40,40,7,10,8,10,4,78.0,86.0,85.0,85.0,78.0,84.0,60.0,47.0,60.0,65.0,78.0,86.0,85.0,85.0,78.0,84.0,60.0,47.0,60.0,65.0,78.0,85.0,85.0,78.0,60.0,47.0,NaN,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,23,11.0,False,False,False
175,139720,V. Kompany,Vincent Kompany,Manchester City,https://cdn.sofifa.org/18/teams/10.png,1913,31,English Premier League,1986-04-10,193,85,Normal,True,https://cdn.sofifa.org/flags/7@3x.png,Belgium,https://cdn.sofifa.org/18/players/139720.png,26000000,170000,48100000.0,85,85,63,54,65,64,84,83,4,2,3,Medium,Medium,Right,61,45,84,72,46,63,61,52,66,68,61,64,60,84,42,75,71,74,88,55,87,80,41,59,63,81,84,85,84,10,9,5,8,6,63.0,61.0,62.0,62.0,67.0,63.0,77.0,82.0,76.0,74.0,63.0,61.0,62.0,62.0,67.0,63.0,77.0,82.0,76.0,74.0,63.0,62.0,62.0,67.0,77.0,82.0,NaN,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,23,11.0,True,False,False
176,172871,J. Vertonghen,Jan Vertonghen,Tottenham Hotspur,https://cdn.sofifa.org/18/teams/18.png,2079,30,English Premier League,1987-04-24,189,88,Normal,True,https://cdn.sofifa.org/flags/7@3x.png,Belgium,https://cdn.sofifa.org/18/players/172871.png,28500000,130000,54200000.0,85,85,67,65,73,70,85,81,3,2,3,High,High,Left,68,56,81,79,52,69,58,73,74,74,68,66,62,82,55,86,83,79,81,68,83,86,60,68,68,81,84,86,86,6,10,9,12,7,70.0,69.0,70.0,70.0,74.0,70.0,81.0,83.0,80.0,78.0,70.0,69.0,70.0,70.0,74.0,70.0,81.0,83.0,80.0,78.0,70.0,70.0,70.0,74.0,81.0,83.0,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,23,11.0,True,False,False
177,208418,Y. Carrasco,Yannick Carrasco,AtlÌ©tico Madrid,https://cdn.sofifa.org/18/teams/240.png,1991,23,Spanish Primera DivisiÌ_n,1993-09-04,180,67,Lean,False,https://cdn.sofifa.org/flags/7@3x.png,Belgium,https://cdn.sofifa.org/18/players/208418.png,51500000,77000,109400000.0,85,90,88,79,78,88,29,63,3,4,4,High,Medium,Right,80,79,53,79,68,91,81,78,74,86,87,89,91,83,71,84,68,73,59,75,61,18,82,74,74,75,19,39,26,9,11,9,10,10,79.0,84.0,83.0,82.0,74.0,83.0,56.0,45.0,56.0,60.0,79.0,84.0,83.0,82.0,74.0,83.0,56.0,45.0,56.0,60.0,79.0,83.0,82.0,74.0,56.0,45.0,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,23,11.0,False,False,False
178,162240,M. DembÌ©lÌ©,Moussa DembÌ©lÌ©,Tottenham Hotspur,https://cdn.sofifa.org/18/teams/18.png,2186,29,English Premier League,1987-07-16,185,88,Normal,True,https://cdn.sofifa.org/flags/7@3x.png,Belgium,https://cdn.sofifa.org/18/players/162240.png,25000000,115000,47500000.0,83,83,76,72,77,85,75,84,3,4,2,Medium,Medium,Left,65,66,69,86,73,87,65,55,80,86,75,77,82,80,74,85,77,77,92,72,74,80,71,79,67,89,70,80,71,16,14,11,16,14,77.0,78.0,79.0,80.0,81.0,79.0,80.0,78.0,76.0,77.0,77.0,78.0,79.0,80.0,81.0,79.0,80.0,78.0,76.0,77.0,77.0,79.0,80.0,81.0,80.0,78.0,NaN,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,23,11.0,True,False,False
179,177413,A. Witsel,Axel Witsel,NaN,NaN,2143,28,NaN,1989-01-12,186,73,Normal,False,https://cdn.sofifa.org/flags/7@3x.png,Belgium,https://cdn.sofifa.org/18/players/177413.png,0,0,NaN,82,82,71,74,77,82,73,80,3,4,3,Medium,Medium,Right,69,71,77,83,67,83,69,68,78,85,67,74,82,81,60,78,72,85,79,74,78,80,75,78,81,86,69,73,71,5,7,7,10,7,77.0,78.0,78.0,79.0,80.0,78.0,79.0,76.0,76.0,77.0,77.0,78.0,78.0,79.0,80.0,78.0,79.0,76.0,76.0,77.0,77.0,78.0,79.0,80.0,79.0,76.0,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,True,False,False,False,False,False,False,False,False,False,False,23,11.0,False,False,False
180,202371,T. Meunier,Thomas Meunier,Paris Saint-Germain,https://cdn.sofifa.org/18/teams/73.png,2141,25,French Ligue 1,1991-09-12,190,88,Normal,False,https://cdn.sofifa.org/flags/7@3x.png,Belgium,https://cdn.sofifa.org/18/players/202371.png,18500000,77000,35600000.0,81,84,76,74,75,77,79,84,2,3,4,High,High,Right,81,72,72,79,79,81,69,56,74,80,72,80,63,79,49,77,72,92,85,76,73,74,78,71,65,78,80,82,79,8,13,15,6,9,77.0,77.0,77.0,77.0,78.0,79.0,79.0,78.0,80.0,80.0,77.0,77.0,77.0,77.0,78.0,79.0,79.0,78.0,80.0,80.0,77.0,77.0,77.0,78.0,79.0,78.0,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,23,11.0,False,False,False
181,173426,S. Mignolet,Simon Mignolet,Liverpool,https://cdn.sofifa.org/18/teams/9.png,1268,29,English Premier League,1988-03-06,193,87,Normal,True,https://cdn.sofifa.org/flags/7@3x.png,Belgium,https://cdn.sofifa.org/18/players/173426.png,12000000,91000,22800000.0,81,81,80,76,65,84,56,78,3,1,2,Medium,Medium,Right,11,11,16,37,16,14,16,12,34,26,55,56,34,77,42,45,69,31,72,16,34,21,16,40,41,66,13,14,16,80,76,65,78,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.0,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,23,11.0,True,False,False
182,172175,K. Mirallas,Kevin Mirallas,Everton,https://cdn.sofifa.org/18/teams/7.png,2059,29,English Premier League,1987-10-05,182,72,Lean,True,https://cdn.sofifa.org/flags/7@3x.png,Belgium,https://cdn.sofifa.org/18/players/172175.png,17500000,125000,33300000.0,81,81,83,77,77,83,46,65,2,4,4,High,Medium,Right,81,77,64,80,76,84,77,76,77,85,82,84,82,76,73,77,73,76,62,76,58,35,80,67,78,74,40,52,51,8,10,14,13,15,77.0,80.0,79.0,79.0,74.0,80.0,63.0,56.0,64.0,67.0,77.0,80.0,79.0,79.0,74.0,80.0,63.0,56.0,64.0,67.0,77.0,79.0,79.0,74.0,63.0,56.0,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,23,11.0,True,False,False

In [27]:
country_player_data = top_200_team_roster_merged_df.groupby("nationality").agg({
    "laliga": np.sum,
    "epl": np.sum,
    "bundesliga": np.sum,
    "players_in_top_200": np.median,
    "number_of_players": np.median,
    "age": np.mean,
    "overall": np.sum,
    "eur_value": np.sum,  
})

In [28]:
country_player_data.head()

                   laliga  epl  bundesliga  players_in_top_200  number_of_players        age  overall  eur_value
nationality
Afghanistan         False  1.0         0.0                 0.0                  3  22.000000      169     690000
Albania             False  0.0         2.0                 0.0                 23  26.130435     1633   74975000
Algeria             False  2.0         2.0                 1.0                 23  26.782609     1749  229700000
Angola              False  0.0         0.0                 0.0                 15  25.600000     1024   37095000
Antigua & Barbuda   False  0.0         0.0                 0.0                  4  23.000000      238    1410000

In [29]:
# mean imputate 50 for players not listed in dataset
country_player_data["overall_average"] = (country_player_data["overall"] + (23-country_player_data["number_of_players"]) * 50)/23
country_player_data["top_3_leagues"] = country_player_data["laliga"] + country_player_data["epl"] + country_player_data["bundesliga"]

# drop overall and number of players
country_player_data_cleaned = country_player_data.copy().drop(["overall","number_of_players"], axis = 1)

In [30]:
country_player_data_cleaned = country_player_data_cleaned.drop(['laliga', 'epl', 'bundesliga'], axis = 1)

In [31]:
country_player_data_cleaned['nationality'] = country_player_data_cleaned.index

In [32]:
# Merge Player Data and Dataframe
df = df.merge(country_player_data_cleaned, 
                left_on='team1', 
                right_on= 'nationality', how = 'left')


df = df.merge(country_player_data_cleaned, 
                left_on= 'team2', 
                right_on= 'nationality', how = 'left',
                suffixes=('_team1', '_team2'))

In [33]:
df.head()

        date      team1   team2  score_team1  score_team2                    tournament  neutral  rank_team1 country_abrv_team1 confederation_team1  rank_team2 country_abrv_team2 confederation_team2 winning_team  goal_difference  year  population_team1  GDP_per_capita_team1  population_team2  GDP_per_capita_team2  players_in_top_200_team1  age_team1  eur_value_team1  overall_average_team1  top_3_leagues_team1 nationality_team1  players_in_top_200_team2  age_team2  eur_value_team2  overall_average_team2  top_3_leagues_team2 nationality_team2
0 2015-01-09  Australia  Kuwait            4            1                 AFC Asian Cup    False       100.0                AUS                 AFC       125.0                KUW                 AFC            2                3  2015        23850784.0          56561.243438         3935794.0          29108.993001                       0.0  27.565217       85900000.0              72.869565                  4.0         Australia                       0.0       27.5        2070000.0              51.391304                  0.0            Kuwait
1 2015-06-05     Jordan  Kuwait            2            2                      Friendly     True       103.0                JOR                 AFC       125.0                KUW                 AFC            1                0  2015         9159302.0           4096.099275         3935794.0          29108.993001                       NaN        NaN              NaN                    NaN                  NaN               NaN                       0.0       27.5        2070000.0              51.391304                  0.0            Kuwait
2 2015-01-17       Oman  Kuwait            1            0                 AFC Asian Cup     True        93.0                OMA                 AFC       125.0                KUW                 AFC            2                1  2015         4199810.0          16406.711618         3935794.0          29108.993001                       0.0  35.000000         950000.0              51.000000                  0.0              Oman                       0.0       27.5        2070000.0              51.391304                  0.0            Kuwait
3 2015-06-11    Lebanon  Kuwait            0            1  FIFA World Cup qualification    False       135.0                LIB                 AFC       125.0                KUW                 AFC            0                1  2015         5851479.0           8452.443641         3935794.0          29108.993001                       0.0  22.800000        3020000.0              52.739130                  0.0           Lebanon                       0.0       27.5        2070000.0              51.391304                  0.0            Kuwait
4 2015-01-13  Australia    Oman            4            0                 AFC Asian Cup    False       100.0                AUS                 AFC        93.0                OMA                 AFC            2                4  2015        23850784.0          56561.243438         4199810.0          16406.711618                       0.0  27.565217       85900000.0              72.869565                  4.0         Australia                       0.0       35.0         950000.0              51.000000                  0.0              Oman

In [34]:
df.shape

(2017, 32)

In [35]:
df.columns

Index(['date', 'team1', 'team2', 'score_team1', 'score_team2', 'tournament', 'neutral', 'rank_team1', 'country_abrv_team1', 'confederation_team1', 'rank_team2', 'country_abrv_team2', 'confederation_team2', 'winning_team', 'goal_difference', 'year', 'population_team1', 'GDP_per_capita_team1', 'population_team2', 'GDP_per_capita_team2', 'players_in_top_200_team1', 'age_team1', 'eur_value_team1', 'overall_average_team1', 'top_3_leagues_team1', 'nationality_team1', 'players_in_top_200_team2', 'age_team2', 'eur_value_team2', 'overall_average_team2', 'top_3_leagues_team2', 'nationality_team2'], dtype='object')

In [36]:
df = pd.get_dummies(df, columns=['confederation_team1', 'confederation_team2'], drop_first=True)

df.head()

        date      team1   team2  score_team1  score_team2                    tournament  neutral  rank_team1 country_abrv_team1  rank_team2 country_abrv_team2 winning_team  goal_difference  year  population_team1  GDP_per_capita_team1  population_team2  GDP_per_capita_team2  players_in_top_200_team1  age_team1  eur_value_team1  overall_average_team1  top_3_leagues_team1 nationality_team1  players_in_top_200_team2  age_team2  eur_value_team2  overall_average_team2  top_3_leagues_team2 nationality_team2  confederation_team1_CAF  confederation_team1_CONCACAF  confederation_team1_CONMEBOL  confederation_team1_OFC  confederation_team1_UEFA  confederation_team2_CAF  confederation_team2_CONCACAF  confederation_team2_CONMEBOL  confederation_team2_OFC  confederation_team2_UEFA
0 2015-01-09  Australia  Kuwait            4            1                 AFC Asian Cup    False       100.0                AUS       125.0                KUW            2                3  2015        23850784.0          56561.243438         3935794.0          29108.993001                       0.0  27.565217       85900000.0              72.869565                  4.0         Australia                       0.0       27.5        2070000.0              51.391304                  0.0            Kuwait                        0                             0                             0                        0                         0                        0                             0                             0                        0                         0
1 2015-06-05     Jordan  Kuwait            2            2                      Friendly     True       103.0                JOR       125.0                KUW            1                0  2015         9159302.0           4096.099275         3935794.0          29108.993001                       NaN        NaN              NaN                    NaN                  NaN               NaN                       0.0       27.5        2070000.0              51.391304                  0.0            Kuwait                        0                             0                             0                        0                         0                        0                             0                             0                        0                         0
2 2015-01-17       Oman  Kuwait            1            0                 AFC Asian Cup     True        93.0                OMA       125.0                KUW            2                1  2015         4199810.0          16406.711618         3935794.0          29108.993001                       0.0  35.000000         950000.0              51.000000                  0.0              Oman                       0.0       27.5        2070000.0              51.391304                  0.0            Kuwait                        0                             0                             0                        0                         0                        0                             0                             0                        0                         0
3 2015-06-11    Lebanon  Kuwait            0            1  FIFA World Cup qualification    False       135.0                LIB       125.0                KUW            0                1  2015         5851479.0           8452.443641         3935794.0          29108.993001                       0.0  22.800000        3020000.0              52.739130                  0.0           Lebanon                       0.0       27.5        2070000.0              51.391304                  0.0            Kuwait                        0                             0                             0                        0                         0                        0                             0                             0                        0                         0
4 2015-01-13  Australia    Oman            4            0                 AFC Asian Cup    False       100.0                AUS        93.0                OMA            2                4  2015        23850784.0          56561.243438         4199810.0          16406.711618                       0.0  27.565217       85900000.0              72.869565                  4.0         Australia                       0.0       35.0         950000.0              51.000000                  0.0              Oman                        0                             0                             0                        0                         0                        0                             0                             0                        0                         0

In [37]:
host = []

for i in range(len(df['team1'])):
    host.append(int(df.loc[i,['neutral']].values*1))

In [38]:
df['host_team1'] = host

In [39]:
df = df.drop(['neutral', 'tournament', 'country_abrv_team1', 'country_abrv_team2', 'date', 'year'], axis = 1)

In [40]:
df.columns

Index(['team1', 'team2', 'score_team1', 'score_team2', 'rank_team1', 'rank_team2', 'winning_team', 'goal_difference', 'population_team1', 'GDP_per_capita_team1', 'population_team2', 'GDP_per_capita_team2', 'players_in_top_200_team1', 'age_team1', 'eur_value_team1', 'overall_average_team1', 'top_3_leagues_team1', 'nationality_team1', 'players_in_top_200_team2', 'age_team2', 'eur_value_team2', 'overall_average_team2', 'top_3_leagues_team2', 'nationality_team2', 'confederation_team1_CAF', 'confederation_team1_CONCACAF', 'confederation_team1_CONMEBOL', 'confederation_team1_OFC', 'confederation_team1_UEFA', 'confederation_team2_CAF', 'confederation_team2_CONCACAF', 'confederation_team2_CONMEBOL', 'confederation_team2_OFC', 'confederation_team2_UEFA', 'host_team1'], dtype='object')

In [41]:
df['rank_diff'] = df['rank_team1'] - df['rank_team2']

In [42]:
df.head()

       team1   team2  score_team1  score_team2  rank_team1  rank_team2 winning_team  goal_difference  population_team1  GDP_per_capita_team1  population_team2  GDP_per_capita_team2  players_in_top_200_team1  age_team1  eur_value_team1  overall_average_team1  top_3_leagues_team1 nationality_team1  players_in_top_200_team2  age_team2  eur_value_team2  overall_average_team2  top_3_leagues_team2 nationality_team2  confederation_team1_CAF  confederation_team1_CONCACAF  confederation_team1_CONMEBOL  confederation_team1_OFC  confederation_team1_UEFA  confederation_team2_CAF  confederation_team2_CONCACAF  confederation_team2_CONMEBOL  confederation_team2_OFC  confederation_team2_UEFA  host_team1  rank_diff
0  Australia  Kuwait            4            1       100.0       125.0            2                3        23850784.0          56561.243438         3935794.0          29108.993001                       0.0  27.565217       85900000.0              72.869565                  4.0         Australia                       0.0       27.5        2070000.0              51.391304                  0.0            Kuwait                        0                             0                             0                        0                         0                        0                             0                             0                        0                         0           0      -25.0
1     Jordan  Kuwait            2            2       103.0       125.0            1                0         9159302.0           4096.099275         3935794.0          29108.993001                       NaN        NaN              NaN                    NaN                  NaN               NaN                       0.0       27.5        2070000.0              51.391304                  0.0            Kuwait                        0                             0                             0                        0                         0                        0                             0                             0                        0                         0           1      -22.0
2       Oman  Kuwait            1            0        93.0       125.0            2                1         4199810.0          16406.711618         3935794.0          29108.993001                       0.0  35.000000         950000.0              51.000000                  0.0              Oman                       0.0       27.5        2070000.0              51.391304                  0.0            Kuwait                        0                             0                             0                        0                         0                        0                             0                             0                        0                         0           1      -32.0
3    Lebanon  Kuwait            0            1       135.0       125.0            0                1         5851479.0           8452.443641         3935794.0          29108.993001                       0.0  22.800000        3020000.0              52.739130                  0.0           Lebanon                       0.0       27.5        2070000.0              51.391304                  0.0            Kuwait                        0                             0                             0                        0                         0                        0                             0                             0                        0                         0           0       10.0
4  Australia    Oman            4            0       100.0        93.0            2                4        23850784.0          56561.243438         4199810.0          16406.711618                       0.0  27.565217       85900000.0              72.869565                  4.0         Australia                       0.0       35.0         950000.0              51.000000                  0.0              Oman                        0                             0                             0                        0                         0                        0                             0                             0                        0                         0           0        7.0

In [43]:
df = df.fillna(0)

In [44]:
df.to_csv('worldcup_df.csv')

In [45]:
df.shape

(2017, 36)

## Creating Prediction Set

In [46]:
world_cup = pd.read_csv('world_cup_2018.csv', encoding = "ISO-8859-1")


world_cup.head()

           Team Group  Previous  appearances\rappearances  Previous titles\rtitles  Previous\r finals  Previous\r semifinals  Current \rFIFA rank First match \ragainst  Match index  history with \rfirst opponent\r W-L  history with\r first opponent\r goals Second match\r against  Match index.1  history with\r second opponent\r W-L  history with\r second opponent\r goals Third match\r against  Match index.2  history with\r third opponent\r W-L  history with\r third opponent\r goals
0        Russia     A                                  10                        0                  0                      1                   65          Saudi Arabia            1                                 -1.0                                   -2.0                  Egypt             17                                   NaN                                     NaN               Uruguay             33                                  0.0                                    0.0
1  Saudi Arabia     A                                   4                        0                  0                      0                   63                Russia            1                                  1.0                                    2.0                Uruguay             18                                   1.0                                     1.0                 Egypt             34                                 -5.0                                   -5.0
2         Egypt     A                                   2                        0                  0                      0                   31               Uruguay            2                                 -1.0                                   -2.0                 Russia             17                                   NaN                                     NaN          Saudi Arabia             34                                  5.0                                    5.0
3       Uruguay     A                                  12                        2                  2                      5                   21                 Egypt            2                                  1.0                                    2.0           Saudi Arabia             18                                  -1.0                                    -1.0                Russia             33                                  0.0                                    0.0
4      Portugal     B                                   6                        0                  0                      2                    3                 Spain            3                                -12.0                                  -31.0                Morocco             19                                  -1.0                                    -2.0                  Iran             35                                  2.0                                    5.0

In [47]:
# Read in World Cup 2018 data
world_cup = pd.read_csv('world_cup_2018.csv', encoding = "ISO-8859-1")
world_cup = world_cup[['Team', 'Group', 'First match \ragainst', 'Second match\r against', 'Third match\r against']]

# Clean Data
world_cup = world_cup.dropna(how='all')
world_cup = world_cup.replace({"IRAN": "Iran", 
                               "Costarica": "Costa Rica", 
                               "Porugal": "Portugal", 
                               "Columbia": "Colombia", 
                                })
world_cup = world_cup.set_index('Team')
world_cup['Team'] = world_cup.index

# Reshape data frame
world_cup = pd.melt(world_cup, id_vars = ['Team', 'Group'], value_vars = ['First match \ragainst', 'Second match\r against',
       'Third match\r against'])
world_cup.columns
world_cup.head()

           Team Group               variable         value
0        Russia     A  First match \ragainst  Saudi Arabia
1  Saudi Arabia     A  First match \ragainst        Russia
2         Egypt     A  First match \ragainst       Uruguay
3       Uruguay     A  First match \ragainst         Egypt
4      Portugal     B  First match \ragainst         Spain

In [48]:
team1 = []
for i in range(len(world_cup['Team'])):
    if world_cup.loc[i, 'Team'] > world_cup.loc[i, 'value']:
        team1.append(world_cup.loc[i, 'Team'])
    else:
        team1.append(world_cup.loc[i, 'value'])
world_cup['team1'] = team1

team2 = []
for i in range(len(world_cup['value'])):
    if world_cup.loc[i, 'Team'] < world_cup.loc[i, 'value']:
        team2.append(world_cup.loc[i, 'Team'])
    else:
        team2.append(world_cup.loc[i, 'value'])
world_cup['team2'] = team2

world_cup = world_cup[['team1', 'team2', 'Group']]

In [49]:
world_cup = world_cup.drop_duplicates(subset = ['team1', 'team2'], keep = 'first')
world_cup.head()

          team1      team2 Group
0  Saudi Arabia     Russia     A
2       Uruguay      Egypt     A
4         Spain   Portugal     B
6       Morocco       Iran     B
8        France  Australia     C

In [50]:
world_cup = world_cup.reset_index(drop = True)

In [51]:
world_cup

             team1            team2 Group
0     Saudi Arabia           Russia     A
1          Uruguay            Egypt     A
2            Spain         Portugal     B
3          Morocco             Iran     B
4           France        Australia     C
5             Peru          Denmark     C
6          Iceland        Argentina     D
7          Nigeria          Croatia     D
8      Switzerland           Brazil     E
9           Serbia       Costa Rica     E
10          Mexico          Germany     F
11          Sweden  Korea Republic      F
12          Sweden   Korea Republic     F
13          Panama          Belgium     G
14         Tunisia          England     G
15         Senegal           Poland     H
16           Japan         Colombia     H
17          Russia            Egypt     A
18         Uruguay     Saudi Arabia     A
19        Portugal          Morocco     B
20           Spain             Iran     B
21            Peru           France     C
22         Denmark        Australia     C
23         Croatia        Argentina     D
24         Nigeria          Iceland     D
25      Costa Rica           Brazil     E
26     Switzerland           Serbia     E
27          Sweden          Germany     F
28          Mexico   Korea Republic     F
29         Tunisia          Belgium     G
30          Panama          England     G
31          Poland         Colombia     H
32         Senegal            Japan     H
33         Uruguay           Russia     A
34    Saudi Arabia            Egypt     A
35        Portugal             Iran     B
36           Spain          Morocco     B
37          France          Denmark     C
38            Peru        Australia     C
39         Nigeria        Argentina     D
40         Iceland          Croatia     D
41          Serbia           Brazil     E
42     Switzerland       Costa Rica     E
43  Korea Republic          Germany     F
44          Sweden           Mexico     F
45         England          Belgium     G
46         Tunisia           Panama     G
47          Poland            Japan     H
48         Senegal         Colombia     H

In [52]:
world_cup.shape

(49, 3)

In [53]:
rankings.head()

   rank_date   rank country_full country_abrv confederation
0 2015-01-08  142.0  Afghanistan          AFG           AFC
1 2015-01-09  142.0  Afghanistan          AFG           AFC
2 2015-01-10  142.0  Afghanistan          AFG           AFC
3 2015-01-11  142.0  Afghanistan          AFG           AFC
4 2015-01-12  142.0  Afghanistan          AFG           AFC

In [54]:
world_cup.head()

          team1      team2 Group
0  Saudi Arabia     Russia     A
1       Uruguay      Egypt     A
2         Spain   Portugal     B
3       Morocco       Iran     B
4        France  Australia     C

In [55]:
rankings['rank_date'] = pd.to_datetime(rankings['rank_date'])
rankings = rankings.loc[rankings['rank_date'] == '2018-06-07']
rankings.head()

world_cup = world_cup.merge(rankings, left_on = 'team1', right_on = 'country_full', how = 'left')
world_cup.head()


world_cup = world_cup.merge(rankings, left_on = 'team2', right_on = 'country_full', how = 'left', suffixes = ['_team1', '_team2'])
world_cup = world_cup[['team1', 'team2', 'rank_team1','rank_team2', 'confederation_team1', 'confederation_team2', 'Group']]


world_cup.shape

(49, 7)

In [56]:
# world_cup.rename(columns = {'rank' : 'Rank2'})
world_cup['rank_diff'] = world_cup['rank_team1'] - world_cup['rank_team2']

In [57]:
# Create list to record if host country is playing match
host = []

for i in range(len(world_cup['team1'])):
    if world_cup[['team1']].values[i] == 'Russia':
        host.append(1)
    elif world_cup[['team2']].values[i] == 'Russia':
        host.append(1)
    else: 
        host.append(0)
        
world_cup['host_team1'] = host

In [58]:
world_cup.head()

          team1      team2  rank_team1  rank_team2 confederation_team1 confederation_team2 Group  rank_diff  host_team1
0  Saudi Arabia     Russia        67.0        70.0                 AFC                UEFA     A       -3.0           1
1       Uruguay      Egypt        14.0        45.0            CONMEBOL                 CAF     A      -31.0           0
2         Spain   Portugal        10.0         4.0                UEFA                UEFA     B        6.0           0
3       Morocco       Iran        41.0        37.0                 CAF                 AFC     B        4.0           0
4        France  Australia         7.0        36.0                UEFA                 AFC     C      -29.0           0

In [59]:
world_cup.shape

(49, 9)

In [60]:
gdp = gdp[(gdp['Year']) == 2017]

In [61]:
gdp.head()

         Country Country Code  Year           GDP  population  GDP_per_capita
506        Aruba          ABW  2017  0.000000e+00    105264.0        0.000000
507  Afghanistan          AFG  2017  2.081530e+10  35530081.0      585.850064
508       Angola          AGO  2017  1.242090e+11  29784193.0     4170.299326
509      Albania          ALB  2017  1.303935e+10   2873457.0     4537.862492
510      Andorra          AND  2017  3.012914e+09     76965.0    39146.548834

In [62]:
world_cup["team1"].values

array(['Saudi Arabia', 'Uruguay', 'Spain', 'Morocco', 'France', 'Peru',
       'Iceland', 'Nigeria', 'Switzerland', 'Serbia', 'Mexico', 'Sweden',
       'Sweden', 'Panama', 'Tunisia', 'Senegal', 'Japan', 'Russia',
       'Uruguay', 'Portugal', 'Spain', 'Peru', 'Denmark', 'Croatia',
       'Nigeria', 'Costa Rica', 'Switzerland', 'Sweden', 'Mexico',
       'Tunisia', 'Panama', 'Poland', 'Senegal', 'Uruguay', 'Saudi Arabia',
       'Portugal', 'Spain', 'France', 'Peru', 'Nigeria', 'Iceland',
       'Serbia', 'Switzerland', 'Korea Republic', 'Sweden', 'England',
       'Tunisia', 'Poland', 'Senegal'], dtype=object)

In [63]:
# Merge GDP and Dataframe
world_cup = world_cup.merge(gdp, 
                left_on=['team1'], 
                right_on=['Country'], how = 'left')


world_cup = world_cup.merge(gdp, 
                left_on=['team2'], 
                right_on=['Country'], how = 'left',
                suffixes=('_team1', '_team2'))

In [64]:
world_cup.shape

(49, 21)

In [65]:
# Merge Player Data and Dataframe
world_cup = world_cup.merge(country_player_data_cleaned, 
                left_on='team1', 
                right_on= 'nationality', how ='left')


world_cup = world_cup.merge(country_player_data_cleaned, 
                left_on= 'team2', 
                right_on= 'nationality', how = 'left',
                suffixes=('_team1', '_team2'))

In [66]:
world_cup.shape

(49, 33)

In [67]:
world_cup = pd.get_dummies(world_cup, columns=['confederation_team1', 'confederation_team2'], drop_first=True)

In [68]:
#Creating columns for confederations
world_cup['confederation_team1_CAF'] = 0
world_cup['confederation_team1_OFC'] = 0
world_cup['confederation_team2_OFC'] = 0

In [69]:
world_cup = world_cup[['team1', 'team2','rank_team1',
       'rank_team2', 'population_team1',
       'GDP_per_capita_team1', 'population_team2', 'GDP_per_capita_team2',
       'players_in_top_200_team1', 'age_team1', 'eur_value_team1',
       'overall_average_team1', 'top_3_leagues_team1', 
       'players_in_top_200_team2', 'age_team2', 'eur_value_team2',
       'overall_average_team2', 'top_3_leagues_team2', 
       'confederation_team1_CAF', 'confederation_team1_CONCACAF',
       'confederation_team1_CONMEBOL', 'confederation_team1_OFC',
       'confederation_team1_UEFA', 'confederation_team2_CAF',
       'confederation_team2_CONCACAF', 'confederation_team2_CONMEBOL',
       'confederation_team2_OFC', 'confederation_team2_UEFA', 'host_team1',
       'rank_diff', 'Group']]

In [70]:
world_cup.shape

(49, 31)

In [71]:
world_cup.to_csv('worldcup_2018_prediction_df.csv')

In [72]:
world_cup.shape

(49, 31)

In [73]:
world_cup

             team1            team2  rank_team1  rank_team2  population_team1  GDP_per_capita_team1  population_team2  GDP_per_capita_team2  players_in_top_200_team1  age_team1  eur_value_team1  overall_average_team1  top_3_leagues_team1  players_in_top_200_team2  age_team2  eur_value_team2  overall_average_team2  top_3_leagues_team2  confederation_team1_CAF  confederation_team1_CONCACAF  confederation_team1_CONMEBOL  confederation_team1_OFC  confederation_team1_UEFA  confederation_team2_CAF  confederation_team2_CONCACAF  confederation_team2_CONMEBOL  confederation_team2_OFC  confederation_team2_UEFA  host_team1  rank_diff Group
0     Saudi Arabia           Russia        67.0        70.0        32938213.0          20760.901631       144495044.0          10917.467868                       0.0  27.304348         85700000              72.478261                  0.0                       0.0  29.130435      216200000.0              78.478261                  0.0                        0                             0                             0                        0                         0                        0                             0                             0                        0                         1           1       -3.0     A
1          Uruguay            Egypt        14.0        45.0         3456750.0          16245.598368        97553151.0           2412.725756                       4.0  27.130435        400500000              79.217391                  0.0                       1.0  27.173913       92320000.0              71.652174                  4.0                        0                             0                             1                        0                         0                        1                             0                             0                        0                         0           0      -31.0     A
2            Spain         Portugal        10.0         4.0        46572028.0          28156.815503        10293718.0          21136.289143                      32.0  28.173913        905500000              85.695652                 11.0                      11.0  27.086957      545000000.0              82.434783                  4.0                        0                             0                             0                        0                         1                        0                             0                             0                        0                         1           0        6.0     B
3          Morocco             Iran        41.0        37.0        35739580.0           3053.729227        81162788.0           5415.215653                       1.0  26.695652        232300000              76.608696                  1.0                       0.0  25.000000       44780000.0              62.695652                  0.0                        0                             0                             0                        0                         0                        0                             0                             0                        0                         0           0        4.0     B
4           France        Australia         7.0        36.0        67118648.0          38476.639160        24598933.0          53799.894491                      20.0  26.739130        811000000              84.347826                  7.0                       0.0  27.565217       85900000.0              72.869565                  4.0                        0                             0                             0                        0                         1                        0                             0                             0                        0                         0           0      -29.0     C
5             Peru          Denmark        11.0        12.0        32165485.0           6571.920181         5769603.0          56307.513706                       0.0  26.043478         60700000              70.826087                  2.0                       2.0  25.652174      309500000.0              77.608696                 11.0                        0                             0                             1                        0                         0                        0                             0                             0                        0                         1           0       -1.0     C
6          Iceland        Argentina        22.0         5.0          341284.0          70056.873393        44271041.0          14401.965384                       0.0  27.478261         73350000              71.173913                  3.0                      16.0  28.695652      741500000.0              83.782609                  4.0                        0                             0                             0                        0                         1                        0                             0                             1                        0                         0           0       17.0     D
7          Nigeria          Croatia        48.0        20.0       190886311.0           1968.559181         4125700.0          13294.514926                       0.0  24.565217        171900000              74.739130                  7.0                       6.0  26.304348      431300000.0              79.956522                  3.0                        0                             0                             0                        0                         0                        0                             0                             0                        0                         1           0       28.0     D
8      Switzerland           Brazil         6.0         2.0         8466017.0          80189.657073       209288278.0           9821.429177                       2.0  27.565217        258600000              77.956522                 12.0                      17.0  27.608696      723500000.0              84.304348                  6.0                        0                             0                             0                        0                         1                        0                             0                             1                        0                         0           0        4.0     E
9           Serbia       Costa Rica        34.0        23.0         7022268.0           5900.038107         4905769.0          11630.668396                       1.0  27.043478        261900000              78.347826                  8.0                       1.0  27.304348       92175000.0              71.826087                  0.0                        0                             0                             0                        0                         1                        0                             1                             0                        0                         0           0       11.0     E
10          Mexico          Germany        15.0         1.0       129163276.0           8902.840154        82695000.0          44469.919584                       0.0  27.913043        264000000              78.217391                  2.0                      18.0  25.608696      883000000.0              84.869565                 18.0                        0                             1                             0                        0                         0                        0                             0                             0                        0                         1           0       14.0     F
11          Sweden  Korea Republic         24.0         NaN        10067744.0          53441.962767               NaN                   NaN                       2.0  28.478261        203500000              77.043478                  7.0                       NaN        NaN              NaN                    NaN                  NaN                        0                             0                             0                        0                         1                        0                             0                             0                        0                         0           0        NaN     F
12          Sweden   Korea Republic        24.0        57.0        10067744.0          53441.962767        51466201.0          29742.820924                       2.0  28.478261        203500000              77.043478                  7.0                       0.0  26.434783      135100000.0              73.739130                  4.0                        0                             0                             0                        0                         1                        0                             0                             0                        0                         0           0      -33.0     F
13          Panama          Belgium        55.0         3.0         4098587.0          15087.681633        11372068.0          43323.782447                       0.0  25.812500         13405000              61.000000                  0.0                      11.0  26.043478      734000000.0              83.000000                 15.0                        0                             1                             0                        0                         0                        0                             0                             0                        0                         1           0       52.0     G
14         Tunisia          England        21.0        12.0        11532127.0           3490.828293        66022273.0          33365.103925                       0.0  27.695652         64625000              70.478261                  2.0                       5.0  26.608696      518000000.0              81.956522                 23.0                        0                             0                             0                        0                         0                        0                             0                             0                        0                         1           0        9.0     G
15         Senegal           Poland        27.0         8.0        15850567.0           1033.069906        37975841.0          13811.675691                       3.0  27.173913        282200000              77.434783                  9.0                       3.0  28.478261      292550000.0              77.521739                  7.0                        0                             0                             0                        0                         0                        0                             0                             0                        0                         1           0       19.0     H
16           Japan         Colombia        61.0        16.0       126785797.0          38428.121409        49065615.0           6301.582075                       1.0  27.826087        165600000              75.260870                  8.0                       2.0  27.347826      329000000.0              78.695652                  5.0                        0                             0                             0                        0                         0                        0                             0                             1                        0                         0           0       45.0     H
17          Russia            Egypt        70.0        45.0       144495044.0          10917.467868        97553151.0           2412.725756                       0.0  29.130435        216200000              78.478261                  0.0                       1.0  27.173913       92320000.0              71.652174                  4.0                        0                             0                             0                        0                         1                        1                             0                             0                        0                         0           1       25.0     A
18         Uruguay     Saudi Arabia        14.0        67.0         3456750.0          16245.598368        32938213.0          20760.901631                       4.0  27.130435        400500000              79.217391                  0.0                       0.0  27.304348       85700000.0              72.478261                  0.0                        0                             0                             1                        0                         0                        0                             0                             0                        0                         0           0      -53.0     A
19        Portugal          Morocco         4.0        41.0        10293718.0          21136.289143        35739580.0           3053.729227                      11.0  27.086957        545000000              82.434783                  4.0                       1.0  26.695652      232300000.0              76.608696                  1.0                        0                             0                             0                        0                         1                        1                             0                             0                        0                         0           0      -37.0     B
20           Spain             Iran        10.0        37.0        46572028.0          28156.815503        81162788.0           5415.215653                      32.0  28.173913        905500000              85.695652                 11.0                       0.0  25.000000       44780000.0              62.695652                  0.0                        0                             0                             0                        0                         1                        0                             0                             0                        0                         0           0      -27.0     B
21            Peru           France        11.0         7.0        32165485.0           6571.920181        67118648.0          38476.639160                       0.0  26.043478         60700000              70.826087                  2.0                      20.0  26.739130      811000000.0              84.347826                  7.0                        0                             0                             1                        0                         0                        0                             0                             0                        0                         1           0        4.0     C
22         Denmark        Australia        12.0        36.0         5769603.0          56307.513706        24598933.0          53799.894491                       2.0  25.652174        309500000              77.608696                 11.0                       0.0  27.565217       85900000.0              72.869565                  4.0                        0                             0                             0                        0                         1                        0                             0                             0                        0                         0           0      -24.0     C
23         Croatia        Argentina        20.0         5.0         4125700.0          13294.514926        44271041.0          14401.965384                       6.0  26.304348        431300000              79.956522                  3.0                      16.0  28.695652      741500000.0              83.782609                  4.0                        0                             0                             0                        0                         1                        0                             0                             1                        0                         0           0       15.0     D
24         Nigeria          Iceland        48.0        22.0       190886311.0           1968.559181          341284.0          70056.873393                       0.0  24.565217        171900000              74.739130                  7.0                       0.0  27.478261       73350000.0              71.173913                  3.0                        0                             0                             0                        0                         0                        0                             0                             0                        0                         1           0       26.0     D
25      Costa Rica           Brazil        23.0         2.0         4905769.0          11630.668396       209288278.0           9821.429177                       1.0  27.304348         92175000              71.826087                  0.0                      17.0  27.608696      723500000.0              84.304348                  6.0                        0                             1                             0                        0                         0                        0                             0                             1                        0                         0           0       21.0     E
26     Switzerland           Serbia         6.0        34.0         8466017.0          80189.657073         7022268.0           5900.038107                       2.0  27.565217        258600000              77.956522                 12.0                       1.0  27.043478      261900000.0              78.347826                  8.0                        0                             0                             0                        0                         1                        0                             0                             0                        0                         1           0      -28.0     E
27          Sweden          Germany        24.0         1.0        10067744.0          53441.962767        82695000.0          44469.919584                       2.0  28.478261        203500000              77.043478                  7.0                      18.0  25.608696      883000000.0              84.869565                 18.0                        0                             0                             0                        0                         1                        0                             0                             0                        0                         1           0       23.0     F
28          Mexico   Korea Republic        15.0        57.0       129163276.0           8902.840154        51466201.0          29742.820924                       0.0  27.913043        264000000              78.217391                  2.0                       0.0  26.434783      135100000.0              73.739130                  4.0                        0                             1                             0                        0                         0                        0                             0                             0                        0                         0           0      -42.0     F
29         Tunisia          Belgium        21.0         3.0        11532127.0           3490.828293        11372068.0          43323.782447                       0.0  27.695652         64625000              70.478261                  2.0                      11.0  26.043478      734000000.0              83.000000                 15.0                        0                             0                             0                        0                         0                        0                             0                             0                        0                         1           0       18.0     G

In [74]:
world_cup = world_cup.drop(world_cup.index[11])

In [75]:
world_cup = world_cup.fillna(0)